/* --- 1. RESETEO UNIVERSAL DE TAMAÑOS (Adiós scroll horizontal) --- */
*, *::before, *::after {
    box-sizing: border-box;
}

/* --- 2. RESETEO DEL BODY Y BLOQUEO DEL EJE X --- */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Esto corta de raíz cualquier elemento rebelde que intente salirse por la derecha */
}

/* --- ELIMINAR EL MARGEN FANTASMA (COLAPSO DE MÁRGENES) --- */
main::before {
    content: "";
    display: table;
}

/* Organización de los recuadros (Grid animales y reseñas) */

.grid-contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Alinea las tarjetas por la parte de arriba */
    gap: 50px;
    /* Espacio controlado entre ellas */
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
    /* Para que no se peguen a los bordes */
    margin: 0 auto;
}

.grid-contenedor .contenedor {
    margin: 10px !important;
    float: none !important;
    /* El float rompe el Flexbox, hay que quitarlo */
}

.titulo-apartado {
    /* Coincide con el padding del banner */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    margin: 25px auto 10px auto;
    position: relative;
    text-align: center;
}