<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>Ficha del Animal</title>
    <style>
        h1{
            font: bold 40px verdana, sans-serif;
            margin: 20px 20px 0 20px; 
        }
        h2{
            font: bold 20px verdana, sans-serif;
            margin: 0 20px 20px 20px;
        }
        
        
        img{
            max-width: 100%;
            height: auto;
            display: block;
            border: 1px solid #ccc;
        }
        p {
            margin-bottom: 10px; 
            font: 15px verdana, sans-serif;
        }

    </style>
</head>
<main class="main-ficha">

    <h1>{{nombre}}</h1>
    <h2>{{especie}}</h2>
    
    <aside class="main_aside">
        <figure>
            <img src="https://placehold.co/300x300?text=FOTO+1" alt="Foto 1">
        </figure>
    </aside>

    <div class="datos_derecha">
        <p>Raza: {{raza}}</p>
        <p>Edad: {{edad}} años</p>
        <p>Tiempo esperando una familia: {{meses}} meses</p>
        <p>Sexo: {{sexo}}</p>
        <p>Peso: {{peso}} kg</p>
        <p>Tasa de adopción: {{tasa}}</p>
    </div>

    <p class="descripcion">
        {{descripcion}}
    </p>
    <div class="fila">
        <div class="foto1">
            <img src="https://placehold.co/300x300?text=FOTO+1" alt="Foto 1">
        </div>
        <div class="foto1">
            <img src="https://placehold.co/300x300?text=FOTO+2" alt="Foto 2">
        </div>
        <div class="foto1">
            <img src="https://placehold.co/300x300?text=FOTO+3" alt="Foto 3">
        </div>
    </div>
    <div class="fila">
            <div class="foto1">
                <img src="https://placehold.co/300x300?text=FOTO+4" alt="Foto 4">
            </div>

            <div class="video_grande">
                <img src="https://placehold.co/600x300?text=VIDEO+CORTO+ANIMAL" alt="Video">
            </div>
    </div>
    <div class="contenedor_boton">
        <a href="adopcion.html" class="enlace-nav">
            <input type="button" value="Quiero Adoptarlo">
        </a>
    </div>
</main>
</html>
