<footer class="main-footer">
    <div class="contenedor-footer">
        <div class="footer-brand">
            <a href="index.html" style="display: flex; align-items: center;">
                <img src="../img/Logo.png" alt="Logo de la web" width="100" height="100">
                <span class="web-name" style="margin-left: 10px;">Nombre de la web</span>
            </a>
        </div>

        <nav class="header-nav">
            <a href="index.html" class="enlace-nav">Inicio</a>
            <a href="catalogo.html" class="enlace-nav">Quiero adoptar</a>
            <a href="sobreNosotros.html" class="enlace-nav">Sobre nosotros</a>
            <a href="reseñas.html" class="enlace-nav">Finales felices</a>
        </nav>

        <div class="footer-social">
            <a href="#" class="social-link"><img src="../img/facebook.png" alt="Facebook" class="icono-social"></a>
            <a href="#" class="social-link"><img src="../img/instagram.png" alt="Instagram" class="icono-social"></a>
            <a href="#" class="social-link"><img src="../img/twitter.png" alt="Twitter" class="icono-social"></a>
            <a href="#" class="social-link"><img src="../img/youtube.png" alt="YouTube" class="icono-social"></a>
        </div>
    </div>
</footer>