<header class="main-header">
    <div class="contenedor-header">
        <div class="header-brand">
            <a href="index.html" class="header-logo">
                <img src="../img/Logo.png" alt="Logo de la web" width="100" height="100">
            </a>
        </div>

        <nav class="header-nav">
            <a href="index.html" class="enlace-nav">Inicio</a>
            <a href="catalogo.html" class="enlace-nav">Quiero adoptar</a>
            <a href="sobreNosotros.html" class="enlace-nav">Sobre nosotros</a>
            <a href="reseñas.html" class="enlace-nav">Finales felices</a>
        </nav>

        <div class="header-perfil">
            <a href="login_Registro.html">
                <img src="https://img.freepik.com/vector-premium/icono-perfil-usuario-estilo-plano-ilustracion-vector-avatar-miembro-sobre-fondo-aislado-concepto-negocio-signo-permiso-humano_157943-15752.jpg?semt=ais_user_personalization&w=740&q=80" alt="Perfil" width="100" height="100">
                <span class="perfil">Perfil</span>
            </a>
        </div>
    </div>
</header>
