<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <style>
        h2 {
            font: normal 30px verdana;
        }
        h3 {
            font: normal 15px verdana, sans-serif;
        }
    </style>
</head>


<main class="main-catalogo">
    <article class="contenedor">
        <figure>
            <img src="https://placehold.co/250x250?text=FOTO+1" alt="Foto 1">
        </figure>
        <h2>{{nombre}}</h2>
        <h3>Especie: {{especie}}</h3>
        <h3>Edad: {{edad}}</h3>
    </article>
</main>
</html>

