<article class="contenedor">
    <div class="foto-catalogo">
            <img src="https://placehold.co/250x250?text=FOTO+1" alt="Foto 1">
    </div>

    <h2 class="titulo">{{nombre}}</h2>

    <div class="info-catalogo">
        <div class="texto">
            <p>Especie: {{especie}}</p>
            <p>Edad: {{edad}}</p>
        </div>

        <div class="contenedor-boton">
            <input type="button" value="Desadoptar" class="boton-adopcion">
        </div>
    </div>

</article>
