<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="estilos.css">
    <style>
        h2 {
            font: normal 30px verdana;
        }
        h3 {
            font: normal 15px verdana, sans-serif;
        }
    </style>
</head>
<body>

<main class="main-catalogo">
    <article class="contenedor">
        <figure>
            <img src="https://placehold.co/250x250?text=FOTO+1" alt="Foto 1">
        </figure>
        <h2>Nombre</h2>
        <h3>Especie: "Nombre de la Especie"</h3>
        <h3>Edad: "Años del animal"</h3>
    </article>
</main>

</body>
</html>

