<footer class="main-footer">
    <div class="contenedor-footer">
        <div class="footer-brand">
            <a href="/" class="footer-logo">
                <img src="../img/Logo.png" alt="Logo de la web">
                <span class="web-name">Nombre de la web</span>
            </a>
        </div>

        <nav class="footer-nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Quiero adoptar</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Finales felices</a></li>
            </ul>
        </nav>

        <div class="footer-social">
            <a href="#"><img src="../img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../img/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="../img/youtube.png" alt="YouTube"></a>
        </div>
    </div>
</footer>