<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo de Animales</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>

<h1>Listado de Adopción</h1>

<div xlu-include-file="catalogoRecuadro.html"
     data-nombre="Michi"
     data-especie="Gato"
     data-edad="1 año">
</div>

<div xlu-include-file="catalogoRecuadro.html"
     data-nombre="Firulais"
     data-especie="Perro"
     data-edad="3 años">
</div>

<script src="../xlu-include-file.js"></script>

<script>
  xLuIncludeFile();
</script>

</body>
</html>